@model IEnumerable<UMS.Models.users>

@{
    ViewData["Title"] = "Index";

}
<style>

    #white {
        background-color: white;
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }


    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>



<h2>List of customers</h2>

<p>
    <a type=button class="btn btn-primary" asp-action="Create">Create New</a>

</p>


<table class="table" id="white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
            
        }
    </tbody>
</table>
<div class="row">
    <div class="column">
        <img src="https://www.w3schools.com/howto/img_snow.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://www.w3schools.com/howto/img_forest.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://www.w3schools.com/howto/img_mountains.jpg" style="width:100%">
    </div>
</div>